
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sticky-top">
          <br><br>
        <div class="list-group">
          <a routerLink="/" class="list-group-item list-group-item-action">
            All Categories
          </a>
          <a *ngFor="let c of categories | async" class="list-group-item list-group-item-action"
            routerLink="/"
            [queryParams]="{ category : c.name}">
              {{c.name}}
          </a>
          </div>
      </div>
    </div>
    <div class="col-md-9">
      <br>
      <div class="row">
        <div *ngFor="let p of filteredProducts" class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img [src]="p.imageUrl" height="180" width="300" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text font-weight-bold">{{p.price | currency:'USD':symbol}}</p>

              <div *ngIf="!itemNo[p.key]; else showQuantity">
                <button  (click)="addToCart(p)"  class="btn btn-secondary btn-block">Add to cart</button>
              </div>
              
              <ng-template #showQuantity>
                <div class="row">
                  <div class="col-4">
                    <button (click)="removeFromCart(p)" class="btn btn-dark btn-block">-</button>
                  </div>
                  <div class="col-4">
                    <p class="text-center">{{itemNo[p.key]}}</p>
                  </div>
                  <div class="col-4">
                    <button (click)="addToCart(p)" class="btn btn-dark btn-block">+</button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
           &nbsp;&nbsp;<br>
        </div>
      </div>
    </div>
  </div>
</div>